@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.container-fluid {
  /*background-color: #2e3550;*/
  background-image: url('/images/Simple\ Shiny\ \(1\).svg');
  width: 100%;
  height: 100vh;
}
