@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Share Tech Mono', monospace;
}
.container-fluid {
  background-color: #2e3550;
  /* background-image: url('/public/bg.jpg'); */
  width: 100%;
  height: 100vh;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
